:root {
  --red: #be2331;
  --dark-red: #891421;
  --purple: #272775;
  --dark-purple: #1a1751;
}

html {
  scroll-padding-top: 150px;
}

body {
  background-color: var(--dark-purple);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

header {
  background: var(--dark-red);
  color: white;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  display: grid;
	grid-template-columns: 1fr 0.25fr 1fr;
  grid-template-rows: 1fr;
	grid-template-areas: "left-header center-header right-header ";
	justify-items: center;
	align-items: center;
}

.left-header {
	grid-area: left-header;
  justify-self: end;
}

.center-header {
	grid-area: center-header;
  justify-self: center;
}

.right-header {
	grid-area: right-header;
  justify-self: start;
}

.application-container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

.application-form {
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  color: black;
  width: 400px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

textarea {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
}

form input {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  border-radius: 5px;
  height: 2.25em;
  margin: 5px;
  padding: 2px;
  color: black;
  margin-left: 20px;
}

.form {
  width: 100%;
  box-sizing: border-box;
}

.form-button {
  border: 1px solid black;
  background-color: var(--red);
  height: 3em;
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  font-weight: 700;
  color: white;
  transition: 0.3s;
  vertical-align: middle;
  margin: 10px;
}

.form-button:hover {
  background-color: white;
  color: black;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.topnav a:link {
  margin: 0px 10px 0px 10px;
  text-decoration: none;
  color: white;
}

.topnav a:visited {
  color: white;
}

.topnav a:hover {
  text-decoration: underline;
}

#member-button {
  background-color: var(--red);
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  font-weight: 700;
  color: white;
  transition: 0.3s;
}

#member-button:hover{
  background-color: white;
  color: black;
  text-decoration: none;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../public/img/hero.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  top: 25%;
  left: 10%;
}

.hero-content h1 {
  font-size: 4em;
  font-weight: 300;
  margin-left: 75px;
}
