:root {
  --red: #be2331;
  --dark-red: #891421;
  --purple: #272775;
  --dark-purple: #1a1751;
}

html {
  scroll-padding-top: 150px;
}

body {
  background-color: var(--dark-purple);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

header {
  background: var(--dark-red);
  background: linear-gradient(135deg, var(--dark-red) 30%, var(--red) 30.1%);
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  box-sizing: border-box;
}

.applicationForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

form {
  text-align: center;
  font-size: large;
  width: clamp(35ch, 50%, 55ch);
}

form input {
  background-color: var(--purple);
  border-color: grey;
  border-radius: 5px;
  border-width: 1px;
  height: 2.25em;
  margin: 5px;
  padding: 2px;
  color: white;
}

.title {
  display: flex;
  align-items: center;
  font-size: 1em;
}

.title h1 {
  margin-left: 30px;
}

.topnav {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  font-weight: 550;
  color: white;
}

.topnav a:link {
  margin: 10px;
  text-decoration: none;
  color: white;
}

.topnav a:visited {
  color: white;
}

.topnav a:hover {
  text-decoration: underline;
}

#member-button {
  background-color: var(--dark-red);
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  font-weight: 700;
  color: white;
  transition: 0.3s;
}

#member-button:hover{
  background-color: white;
  color: black;
}
