:root {
  --red: #be2331;
  --dark-red: #891421;
  --purple: #;
  --dark-purple: #1a1751;
}

body {
  background-color: var(--dark-purple);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  background: var(--dark-red);
  background: linear-gradient(135deg, var(--dark-red) 30%, var(--red) 30.1%);
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
  font-size: 1em;
}

.title h1 {
  margin-left: 30px;
}

.topnav {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  font-weight: 550;
  color: white;
}

.topnav a:link {
  margin: 10px;
  text-decoration: none;
  color: white;
}

.topnav a:visited {
  color: white;
}

.topnav a:hover {
  text-decoration: underline;
}

#member-button {
  background-color: var(--dark-red);
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  font-weight: 700;
  color: white;
  transition: 0.3s;
}

#member-button:hover{
  background-color: white;
  color: black;
}
